//= require_self
html {
  font-size: 100%;
}
.btn-default:link,
.btn-default:visited,
.btn-default:focus,
.btn-default:hover,
.btn-default:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.btn:hover,
.btn:focus,
.btn.focus,
.btn:active,
.btn.active,
button:focus {
  outline: none;
  box-shadow: none;
}
button {
  border:none;
}


/* MAIN CONTENT
  ------------------------------ */

/* :::: row-1 :::: */
.row,
.backlog {
  margin-bottom: 2rem;
}
.visits, .profit, .orders, .comments{
  border-radius: 6px;
  height: 6.5rem;
  overflow: hidden;
  margin-top: .5rem;
}
.visits {
  background-color: #00ACAC;
}
.profit {
  background-color: #348FE2;
}
.orders {
  background-color: #348FE2;
}
.comments {
  background-color: #727CB6; /*2D353C*/
}
.today {
  color: #d9e0e7;
  font-size: 14px;
}
.number {
  color: #fff;
  font-size: 38px;
  letter-spacing:2px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.icon {
  color: #fff;
  height: 100%;
  padding: 0;
  text-align: center;
}
.icon span{
  opacity: .3;
  display: block;
  margin: 28px 0 10px 0;
  font-size: 2.875rem;
}
.visits .icon {
  background-color: #0fc1c1;
}
.profit .icon {
  background-color: #4ca5f7;
}
.orders .icon {
  background-color: #4ca5f7;
}
.comments .icon {
  background-color: #8a93c8;/* 41484f */
}
.today,
.number {
  margin-left: 10px;
}


/* :::: Disk :::: */

.disk {
  background-color: #59626e;
  padding: 1px 30px;
  border-radius: 6px;
  margin-bottom: 20px;
  h2 {
    color: #fff;
    font-size: 14px;
    float: left;
    margin-right: 10px;
    verticle-align: middle;
  }
  .progress{
    margin-top:18px;
    height:18px;
    .progress-bar-danger {
      background-color: #398b6c;
    }
    .progress-bar-success {
      color: #398b6c;
      background-color: #fff;
    }
  }
}

/* :::: Backlog :::: */
.backlog {
  width:100%;
  background-color: #fff;
  border-radius: 6px 6px 0 0 ;

  .group {
    padding: 10px;
    padding-left: 20px;
    background-color: #fc6e51;
    border-radius: 6px 6px 0 0 ;

    .btn {
      margin-right:10px;
      padding: 1px 16px;
      font-size: 14px;
      background: none;
      border: 1px solid #fff;
      color:#fff;

      &:hover {
        border: 1px solid #fff;
        background-color: #fff;
        color: #fc6e51;
      }
    }
  }
}

.un-default {
  background: none;
  color: #fff;
}
.group .default {
  background-color: #fff;
  color: #fc6e51;
}
.backlog form {
  padding: 0 10px 30px;
}
.backlog a{
  display: inline-block;
  color: #5d6166;
  font-size: 14px;
  padding-top: 6px;
}
.backlog a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #2D353C;
}
.backlog .label {
  display: inline-block;
  margin-top: 8px;
}
table .no1 {
  width: 3%;
}
table .no2 {
  width: 8%;
}
table .no4 {
  width: 10%;
}
table .no5 {
  width: 3%;
}
td button{
  background-color:inherit;
}
.un .glyphicon-ok-circle{
  color: #afb0b0;
}
.done .glyphicon-ok-circle {
  color: #00ACAC;
}
button .glyphicon-remove-circle {
  color: #cf7881;
}
button:hover .glyphicon-remove-circle {
  color: #d33646;
}
time {
  display:inline-block;
  padding-top:8px;
  color: #7A7F84;
  font-size: 12px;
}
.backlog button[type="submit"] {
  background-color:#64C28E;
  border:none;
  float:right;
  color:#fff;
  padding: 5px 30px;
  margin-top:6px;
  border-radius: 4px;
  letter-spacing: 4px;
}
.backlog button[type="submit"]:hover{
  background-color:#4fad79;
}
