<div class="usercenter">
	<div class="row">
    <%= render 'sidebar' %>
		<div class="main col-md-9">
      <%= form_errors(@creation) %>

      <div class="ibox animated fadeInDown">
        <div class="ibox-title">
          <h3>新建作品</h3>
        </div>
        <div class="ibox-content">
          <%= render 'creation_form' %>
        </div>
      </div>


		</div>
	</div>
</div>
