<div class="article_wrapper">
	<div class="article_title"><h3><%= @post.title %></h3></div>
	<div class="article_info">
		<span>发布时间: <%= @post.publish_at %></span>
	</div>
	<div class="article_body">
		<%= @post.content.html_safe %>
	</div>
</div>
