<extend name="Common:base" />
<block name="title">用户登陆</block>
<block name="extra_css">
	<link rel="stylesheet" href="__PUBLIC__/index/css/retry.css">
</block>
<block name="content">
<div class="retry_wrapper">
<div class="retry_head">
	<if condition="$message">
	<div class="retry_info">{$message}</div>
	</if>
</div>
<div class="row-fliud">
	<div class="retry_body span8">
		<div class="retry_login">
			<form action="{:U('User/login')}" method="post">
				<input type="hidden" name="redirect_url" value="{:I('redirect_url')}">
				<div class="retry_input">
					<label for="name">用户名：</label>
					<input type="text" id="name" name="username">
				</div>
				<div class="retry_input">
					<label for="password" class="retry_label" >密&nbsp;&nbsp;&nbsp;码：</label>
					<input type="password" id="password" name="password">
				</div>
				<input type="submit" value="登 陆" class="btn btn-primary" id="submit_btn" >

			</form>
			<div class="retry_register">还没有账号？<a href="{:U('User/reg')}">立即注册</a>。</div> <!-- retry_register end -->
		</div><!--  retry_login end -->
	</div><!-- retry_body end -->
	<div class="retry_help span4">
		<div class="retry_title">
      <%= image_tag 'index/retry_help.png' %>
		</div>
		<div class="helper">
			<br>
 			<h5>忘记密码怎么办？</h5>
			<p>您可以在工作日拨打我们的联系电话重置密码。电话：025-83787964</p>
		</div>
	</div><!-- retry_help end -->
</div><!--  row-fluid end -->
<div class="retry_logo"><%= image_tag 'index/login.png' %></div>
<div class="clear"></div>
</div><!-- retry_wrapper end -->
</block>
