@charset "utf-8";
$cn-font:"Source Han Sans CN","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei";


.works_nav ul{
	margin: 0;
	padding: 0;
  margin-bottom: 10px;
  li {
    float: left;
  	list-style: none;
  	margin-right: 10px;
    a {
      display:inline-block;
    	padding: 5px 14px;
    	background-color: #fff;
    	border: 1px solid #ddd;
    	color: #777;
    	font-weight: bold;
    	border-radius: 5px;
      &.active, &:hover {
        background-color: #509cda;
      	color: #fff;
      }
      &.disabled {
        color: #A7A7A7;
      }
    }
  }
}

.nav-tabs > li > a {
  word-break: break-all;
}
.works_nav ul li.group a.active,.works_nav ul li.group a:hover{
	background-color: #FF8D3C;
	color: #fff;
}

.exhibition_wrapper #creation_count {
  color: #6B6B6B;
font-size: 13px;
font-style: italic;
}

.works_group{
	margin-top: 20px;
  .vote_info {
    float: right;
    color: #9C2E2E;
  }
  .file:hover {
    transform: scale(1.02);
  }
  .file:active {
    transform: scale(1);
  }

}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #509CDA;
  color: #fff;
}

.title-wrapper {
  h1, div.btn-group {
    float: left;
  }
  div.btn-group {
    margin-top: 22px;
    margin-left: 15px;
  }
}

.creation_info_container {
  background: #FFF;
  margin: 20px 0;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  display: flex;

  .info-box {
    text-align: center;
    flex-grow: 1;
    float: left;
    padding: 10px 20px;
    border-right: 1px solid #e7eaec;
    p.number {
      font-size: 1.4em;
    }
    p.desc {
      font-size: 12px;
      color: #666;
      margin-bottom: 0;
    }
    &:hover {
      background-color: #EEE;
    }
  }
}

.author_container {
  background: #FFF;
  margin: 20px 0;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  position: relative;
  .avatar {
    width: 150px;
  }
  .detail {
    position: absolute;
    margin-left: 100px + 15px;
    padding-right: 20px;
    top: 15px;
    width: 100%;
    .author {
      margin: 0 5px 5px 0
      ;
      cursor: default;
    }
  }
}

.sidebar_container {
  margin-top: 40px;
}

div.other_creations {
  padding-left: 0;
  .opus_item {
    float: left;
    width: 50%;
    overflow: hidden;
    padding: 0 12px 10px 12px;
    text-align: center;
    word-break: break-all;
  }
  img.opus_thumb {
    width: 150px;
  }
  .opus_name {
    margin-top: 5px;
    display: block;
  }
}
div.news_box {
  padding: 0;
  padding-bottom: 15px;
  a {
    display: block;
  }
}
