$cn-font:"Source Han Sans CN","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei";

.user_avatar {
  background-color: #FEFEFE;
  padding: 15px;
	img{
    width: 70px;
    height: 70px;
	}
	#user_name{
		font-size: 16px;
		font-family: $cn-font;
		font-weight: bold;
		color: #0066a5;
	}
  p {
    margin-bottom: 4px;
  }
}

.user_menu ul.nav-list {
  border-top: 1px solid #EEE;
  padding-top: 5px;
  li > a{
    border-left: 3px solid #ccc;

    color: #333;
    background-color: #FEFEFE;
    &:hover {
      background-color: #ECECEC;
    }
    i {margin-right: 10px;}
  }
  li.active a{
    background-color: #ECECEC;
    border-color: #78D9FF;
  }
}
#message_box h3 {
  background-color: #EFEFEF;
  margin: 5px -20px;
  padding: 12px 18px;
}

#usercenter_messages_table {
  tr {
    cursor: pointer;
  }
}

.ibox-info {
  background-color: #FAC68D;
  color: white;
}
