//= require_self
@charset "utf-8";
$cn-font:"Source Han Sans CN","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei";
@mixin ie7-inline-block {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
}
@mixin gradient-vertical($startColor: #555, $endColor: #333){
  background-color: mix($startColor, $endColor, 60%);
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
}
body{
  background: image-url("index/backgound.png") no-repeat;
	background-color: #f3f3f3;
}
a:hover{
	text-decoration: none;
	color: #2a609f;
}
.clear{
	clear: both;
}
// 主容器
.container{
	width: 1040px !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.header{
	height: 140px;
	margin-bottom: 15px;
}
// 顶部通知栏
.notification {
	display: inline;
	float: left;
	margin-top: 30px;
	margin-left: 19px;
	width: 415px;
}
// 顶部（不包含导航）
.header_top{
	margin: 10px 0;
	img{
		float: left;
	}
}
#ie7_margin{
	height: 20px;
}
/******* 搜索 *******/

.search{
	padding-top: 30px;
	float: right;
	form{
		margin:0;
	}
	input{
    width: 220px;
    height: 28px;
		border-right: none;
	}
	a{
		display: inline-block;
		@include ie7-inline-block();
		font-size: 17px;
		color: #989898;
		margin-left: -28px;
	}
	.search_button{
		border: 1px solid #ccc !important;
		padding: 8px 18px !important;
		margin-left: 0 !important;
	}
}

/******* 导航条 *******/
.header_nav {
  width: 760px;
  height: 42px;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  border-radius: 5px;
	float: left;
	margin-left: 280px;
	margin-top: -52px;
	ul {
		width: 100%;
    @include gradient-vertical(#fff, #f4f4f4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff4f4f4', GradientType=0);
		// #gradient > .vertical(#fff,#f4f4f4);
		margin: 0;
    border-radius: 5px;
		list-style: none;
		position: relative;
		display: inline-table;
		li {
			float: left;
      transition: background-color .7s;
			a {
				display: block;
				padding: 11px 40px;
        // min-width: 50px;
				color: #757575;
				font-weight: bold;
				text-decoration: none;
				&:hover{color: #fff;}
				i{margin: 0 5px;}
			}
			&:hover{background: #4e9cdf;}
			&.active{
        @include gradient-vertical(#68ade8, #4e9cdf);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68ade8', endColorstr='#ff4e9cdf', GradientType=0);
				a{color: #fff;}
			}
			&:first-child{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
		}
	}

}

/********** 用户性别图标显示 **********/
.user_sex{
	width: 15px;
	height:20px;
	background-image: image-url("index/male_female.png");
	display: inline-block;
}
.user_sex_female{
	background-position: 0 0;
}
.user_sex_male{
	background-position: -15px 0;
}

/********** 页面底部 **********/
.footer{
	background-color: #313131;
	margin-top: 10px;
	color: #E6E6E6;
}

.footer_wrap{
  width: 1040px;
  height: 260px;
	margin-left: auto;
	margin-right: auto;
	.footer_logo,.footer_question,.footer_contact{
		margin-top: 40px;
		height: 150px;
		float: left;
	}
	.footer_question{margin-right: 100px;}
	.footer_question,.footer_contact{margin-left: 80px;}
}

.footer_logo div{
	width: 230px;
	text-align: center;
	margin-top: 5px;
}

.qa_title{
	margin: 0 0 20px 25px ;
	font-family:$cn-font;
	color: #fff;
	font-size: 25px;
	span{
		margin: 0 10px;
		font-size: 25px;
		font-family:$cn-font;
		color: #fff;
	}
}

.qa_question ul li{
	list-style: none;
	font-size: 14px;
	margin-bottom: 5px;
	span{color: #fff;}
}
.footer_contact span{
	color: #fff;
	font-size: 25px;
	font-family: $cn-font;
}
.friend_link{
	margin-top: 10px;
	a{
		display: block;
		color: #E6E6E6;
		margin-bottom: 5px;
		i{
			color: #fff;
			margin: 0 5px;
		}
		&:hover{color: #fff;}
	}
}
.footer_copyright{
	clear: both;
	text-align: center;
	color: #fff;
}

/******* to top button ********/
.to_top{
	cursor: pointer;
	height: 50px;
	bottom: 20px;
	right: 20px;
	position: fixed;
	.to_top_icon{
		height: 50px;
		width: 50px;
		background-image: image-url("index/totop.png");
		&:hover{
			background-position: 0 -50px;
		}
	}
}

html.turbolinks-progress-bar::before {
  background-color: #5886A0 !important;
  height: 3px !important;
}
