//= require_self
@charset "utf-8";
$cn-font:"Source Han Sans CN","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei";
@mixin ie7-inline-block {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
}
body{
	background-color: #f3f3f3;
}
a:hover{
	text-decoration: none;
	color: #2a609f;
}
.clear{
	clear: both;
}
// 主容器
@media (min-width: 993px) {
  .container{
  	width: 1070px !important;
  	margin-top: 10px;
  }
}
@media (max-width: 993px) {
  .container{
  	width: 100%;
  }
}

.header {
  margin-bottom: 20px;
}

#logo {
  width: 261px;
  margin-right: 20px;
  position: absolute;
}
#header-controls {
  padding-left: 290px;
  // 顶部通知栏
  .notification {
  	margin-top: 20px;
    margin-bottom: 5px;
  }
  /******* 搜索 *******/
  #search{
  	padding-top: 26px;
  	input{
      height: 40px;
  	}
    button {
      height: 40px;
    }
  }
}
@media (max-width: 993px) {
  #logo {
    position: relative;

  }
  #header-controls {
    padding-left: 0px;
    #search{
    	padding-top: 5px;
    }
  }
}

/******* 导航条 *******/
.header_nav {
	ul {
		width: 100%;
    padding: 0;
		list-style: none;
		li {
			float: left;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.75);
      transition: all 0.7s ease;
      border-top: 3px solid white;
			a {
				display: block;
				padding: 13px 38px;
				color: #757575;
				font-weight: bold;
				text-decoration: none;
			}
			&:hover, &.active{
        background: #547C9F;
        background: rgba(56, 103, 144, 0.85);
        border-top: 3px solid #78D9FF;
        a {
          color: #fff;
        }
      }
      &:hover {
        transform: translatey(-4px);
      }
		}
	}
}

/********** 用户性别图标显示 **********/
.user_sex{
	width: 14px;
	height:20px;
	background-image: image-url("index/male_female.png");
	display: inline-block;
}
.user_sex_female{
	background-position: 0 0;
}
.user_sex_male{
	background-position: -15px 0;
}

/********** 页面底部 **********/
.footer{
	background-color: #D0D0D0;
	margin-top: 10px;
	color: #333;
  border-top: 3px solid #5EC4EA;
  padding-bottom: 20px;
  padding-top: 20px;
  .footer_logo div{
    margin-top: 10px;
  }
  .stats {
    h4 {
      font-family: $cn-font;
      font-weight: 200;
    }
    ul {
      list-style: none;
      padding-left: 0;
      a{
        display: block;
        color: #333;
        padding: 5px 0;
      }
    }
  }
}

/******* to top button ********/
.to_top{
	cursor: pointer;
	height: 50px;
	bottom: 20px;
	right: 20px;
	position: fixed;
	.to_top_icon{
		height: 50px;
		width: 50px;
		background-image: image-url("index/totop.png");
		&:hover{
			background-position: 0 -50px;
		}
	}
}

html.turbolinks-progress-bar::before {
  background-color: #5886A0 !important;
  height: 3px !important;
}
