@import 'bootstrap-datepicker3';
@import 'icheck/square/blue';
tr[data-hide="true"]{
  color: #999;
}

body{
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #f5f8f9;
}
.outer {
  max-width: 1320px;
  margin: 40px auto 30px auto;
  padding: 0 20px;
  &:before, &:after{
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

nav {
  float: left;
  width: 21%;
  margin: 0 0.77%;
  background: #fff;
  box-shadow: 0 0 5px #D8D8D8;
  #logo {
    width: 128px;
    height: 128px;
    margin: 10px auto 20px auto;
  }
  .profile{
    text-align: center;
  }
}

/* Navgition left
  ------------------------------ */

.has-sub {
  position: relative;

}
// .navigition{
//   width: 100%;
//   display: inline-block;
//   color: #a8acb1;
//   padding: .875rem 1.5rem;
//   font-size: 16px;
// }
.has-sub .link {
  padding-left: 24px;
  color: black;
}
.has-sub .link:visited {
  background-color: #00ACAC;
}
.has-sub .link:focus,
.has-sub .link:hover,
.has-sub .link:active{
  background-color: #232A2F;
}
.has-sub.active .link {
  background-color: #00ACAC;
}
.has-sub a i {
  display: inline-block;
  margin-right: 14px;
  width: 1rem;
}


/* MAIN CONTENT
  ------------------------------ */
main {
  width: 75%;
  float: left;
  background: #fff;
  box-shadow: 0 0 5px #D8D8D8;
  margin-left: 10px;
  padding: 10px 20px;
}

.hide {
  display: none;
}
.show {
  display: block;
}
