@import 'bootstrap-datepicker3';
@import 'icheck/square/blue';
$cn-font:"Source Han Sans CN","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei";

tr[data-hide="true"]{
  color: #999;
}

body{
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #f5f8f9;
}
.outer {
  max-width: 1320px;
  margin: 40px auto 30px auto;
  padding: 0 20px;
  &:before, &:after{
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}



/* Navgition
  ------------------------------ */

nav {
  float: left;
  width: 21%;
  margin: 0 0.77%;
  background: #fff;
  box-shadow: 0 0 5px #D8D8D8;
  #logo {
    width: 128px;
    height: 128px;
    margin: 20px auto 20px auto;
    img {
      display:block;
      padding:10px;
      border-radius: 50%;
      border: 3px solid #59626e;
    }
  }
  .profile{
    text-align: center;
    margin: 10px auto;
    font-size: 16px;
    font-weight: 100;
    font-family: $cn-font;
  }
  .actions{
    text-align: center;
    margin: 10px auto;
  }
}

ul.nav {
  li a{
    padding-left: 46px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #222;
    border-bottom: 1px solid #ddd;

    &:focus,
    &:hover,
    &:active{
      background-color: rgb(219, 226, 232);
    }

    i {
      display: inline-block;
      margin-right: 12px;
      width: 16px;
    }

  }

  li.active a {
    background-color: rgb(219, 226, 232);
  }

}


/* MAIN CONTENT
  ------------------------------ */
main {
  width: 75%;
  float: left;
  background: #fff;
  box-shadow: 0 0 5px #D8D8D8;
  margin-left: 10px;
  padding: 10px 20px;
}

.hide {
  display: none;
}
.show {
  display: block;
}
