<extend name="Common:base" />
<block name="title">“{$key_words}”的搜索结果</block>
<block name="extra_css">
	<link rel="stylesheet" href="__PUBLIC__/index/css/search.css">
</block>
<block name="content">
  	<div class="search_wrapper">
		<div class="search_title">
			<h4>与"<span>{$key_words}</span>"相关的内容：</h4>
		</div>
<div class="well">
	<ul class="nav nav-tabs">
	  <li class="<eq name="count['opus']" value='0'>disabled<else />active</eq>"><a href="#opus" data-toggle="tab">用户作品({$count.opus})</a></li>
	  <li class="<eq name="count['user']" value='0'>disabled<else /><?php if($count['opus']==0) echo 'active'; ?></eq>"><a href="#user" data-toggle="tab">参赛选手({$count.user})</a></li>
	  <li class="<eq name="count['news']" value='0'>disabled<else /><?php if($count['user']==0 && $count['opus']==0) echo 'active'; ?></eq>"><a href="#notify" data-toggle="tab">通知公告({$count.news})</a></li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane <?php if($count['opus']==0 && $count['user']>0) echo 'active'; ?>" id="user">
	  		<eq name="count['user']" value="0">没有符合筛选条件的用户</eq>
			<div class="search_users">
			 <!-- 顶部内容 -->
				<div class="users_list">
					<ul>
						<volist name="result['user']" id="li">
						<li>
							<div class="users">
								<div class="users_hp"><a href="{:U('User/userinfo',array('uid'=>$li['uid']))}"><img src="{:getAvatar($li['avatar_large'])}"></a></div>
								<div class="users_info">
									<div class="users_name"><a href="{:U('User/userinfo',array('uid'=>$li['uid']))}">{$li.nickname}</a></div>
									<div>
										<eq name="li['sex']" value="0">
										<span class="users_sex users_sex_male"></span>
										<else />
										<span class="users_sex users_sex_female"></span>
										</eq>
										<span>{$li.department}</span>
									</div>
									<div>
										作品数:<span class="users_work_amount">{$li.opus_count}</span>热度：<span class="users_work_views">{$li.popularity}</span>
									</div>
									<div class="users_intro">
										个人简介:<span>{$li.intro|default="该用户没有填写个人简介"}</span>
									</div>
									<div class="users_work">
										<volist name="li['opus']" id="ops">
										<a href="{:U('Opus/view',array('id'=>$ops['id']))}"><i class="icon-video-camera"></i>{$ops.opus_name}</a>
										</volist>
									</div>
								</div>
							</div>
						</li>
						</volist>
					</ul>
				</div> <!-- user_list end -->
			</div><!--  search_user end -->
			<div class="clear"></div>
		  </div> <!-- tab-pane#id end -->
		<div class="tab-pane <?php if($count['opus']==0 && $count['user']==0) echo 'active'; ?>" id="notify">
	  		<eq name="count['news']" value="0">没有符合筛选条件的新闻</eq>
		<div class="search_news">
			 <!-- 顶部内容 -->
			<div class="news_list">
				<ul>
					<volist name="result['news']" id="li">
					<li>
						<div class="news">
							<div class="news_title"><a href="{:U('passage/'.$li['id'])}">{$li.title}</a></div>
							<div class="news_summary">{$li.content_notag}</div>
							<div class="news_info">
								<span class="news_time">发布时间：{$li.date|date="Y-m-d",###}</span>
							</div>
						</div>
					</li>
					</volist>
				</ul>
			</div><!-- news_list end -->
		</div> <!-- search_news end -->
	  </div><!-- tab-pane#notify end -->
	  <div class="tab-pane <?php if($count['opus']>0) echo 'active'; ?>" id="opus">
  		<eq name="count['opus']" value="0">没有符合筛选条件的作品</eq>
		<div class="search_works">
		 <!-- 顶部内容 -->
			<div class="works_group">
				<ul>
					<volist name="result['opus']" id="li">
					<li>
						<div class="works">
							<div class="works_shot">
								<a href="{:U('Opus/view',array('id'=>$li['id']))}" target="_blank" class="works_name">
										<h5>[第{$li.old_version}届] {$li.opus_name}</h5>
									</a>
								<div class="works_thumb">
									<a href="{:U('Opus/view',array('id'=>$li['id']))}" target="_blank">
										<div class="works_pic">
											<img src="{:getThumb($li['id'])}">
										</div>
									</a>
								</div>

								<ul class="works_info">
									<li class="views"><a title="浏览数"><i class="icon-eye"></i>{$li.view_count}</a></li>
									<li class="comments"><a title="评论数"><i class="icon-comment"></i>{$li.comment_count}</a></li>
									<li class="votes"><a title="投票数"><i class="icon-heart"></i>{$li.vote_count}</a></li>
									<div class="clear"></div>
								</ul>
							</div>
						</div>
						<div class="works_author">
							<a href="{:U('User/userinfo',array('uid'=>$li['userinfo']['uid']))}"><img src="{:getAvatar($li['userinfo']['avatar'])}" alt="作者" width="22"><span class="works_author_name">{$li.userinfo.nickname}</span></a>
							<span class="department">{$li.userinfo.department}</span>
						</div>
					</li>
					</volist>
				</ul>
			</div><!--  works_group end -->
		</div><!-- search_work end -->
	  </div><!-- tab-pane#opus end -->
	</div><!-- tab-content end -->
</div> <!-- well -->
</div><!--  search_wrapper -->
</block>
